body {
  font-family: 'Urbanist', sans-serif;
  font-weight: 300;
  font-style: normal;
  background-color: #f8f8f8;
}
.type-3200 .swiper-container {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .type-3200 .swiper-container {
    margin: 0 32px;
  }
}
.type-3200 .swiper-container .custom-swiper {
  margin-bottom: 60px;
}
.type-3200 .custom-container {
  margin: 0 auto;
}
.type-3200 h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 52px;
  color: #2e3233;
  text-align: center;
  margin: 0;
  padding-top: 35px;
}
.type-3200 .heading {
  margin: 0 auto;
  max-width: 595px;
  margin-bottom: 51px;
}
.type-3200 .heading .description {
  text-align: center;
  display: block;
  font-size: 18px;
  color: #7e7e7e;
  line-height: 29.8px;
  font-weight: 500;
  margin-top: 17px;
}
.type-3200 .post {
  padding: 0 15px;
}
.type-3200 .post .cover {
  margin-bottom: 30px;
  position: relative;
  cursor: pointer;
}
.type-3200 .post .cover img {
  width: 100%;
  height: 100%;
  transition: 0.4s all;
}
.type-3200 .post .cover img:hover {
  filter: brightness(70%);
}
.type-3200 .post .cover .tag {
  position: absolute;
  bottom: 0%;
  font-size: 15px;
  font-weight: 500;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  display: block;
  color: #2e3233;
  background: #f5f5f5;
  border-radius: 3px;
  padding: 3px 16px;
  transition: all 0.3s;
}
.type-3200 .post .cover .tag:hover {
  background-color: #000000;
  color: #fff;
}
.type-3200 .post .title {
  font-size: 24px;
  color: #2e3233;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
}
.type-3200 .post .info {
  margin-top: 25px;
  font-size: 15px;
  list-style: none;
  display: flex;
  color: #7e7e7e;
  line-height: 22.5px;
  font-weight: 500;
  padding-left: 0;
  justify-content: center;
}
.type-3200 .post .info li a {
  color: #2e3233;
  transition: 0.3s all;
  position: relative;
  text-decoration: none;
}
.type-3200 .post .info li a::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #7e7e7e;
  transition: 0.2s all;
  visibility: hidden;
}
.type-3200 .post .info li a:hover::after {
  visibility: visible;
}
.type-3200 .post .info li a .date {
  color: #7e7e7e;
}
.type-3200 .post .info li:nth-child(1)::after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 14px;
  margin: 0 10px;
  background-color: #c4c4c4;
}
.type-3200 .dot-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.type-3200 .dot-navigation .custom-bullet {
  opacity: 1;
  width: 7px;
  height: 7px;
  background: #000000;
  border-radius: 50%;
  transition: transform 0.3s;
}
.type-3200 .dot-navigation .custom-bullet[aria-current='true'] {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  background: transparent;
}
.type-3200 #posts {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-left: 47.665px;
}
.type-3200 #btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 100px;
}
.type-3200 #btn a {
  padding: 0 35px;
  border: solid 2px #eeeeee;
  color: #2e3233;
  background-color: rgba(0,0,0,0);
  font-size: 18px;
  font-weight: 600;
  line-height: 44px;
  border-radius: 5px;
  text-decoration: none;
}
.type-3200 #btn a:hover {
  background-color: #000000;
  color: #fff;
}
